 @media screen and (orientation: portrait) {
   /*.wrapLayout {
     grid-area: q;
     position: relative;
     max-width: 100%;
     display: grid;
     grid-template-columns: minmax(48px, 1fr) 279px 1fr;
     grid-template-rows: 9px 1fr;
     column-gap: 24px;
   }

   .wrapRowRight {
     grid-column: 2 / 3;
     grid-row: 1 / 3;
     display: flex;
     flex-direction: column;
   }

   .image_wrapper {
     position: sticky;
     height: 65vh;
     top: 0px;
     flex: 1 1 48px;
   }*/
 }

 @media screen and (orientation: landscape) {
   

  
 }

 @media screen and (orientation: landscape) and (min-width: 1025px) {
  
 }

 @media screen and (orientation: landscape) and (min-width: 1356px) {
   
 }

 .column {
   grid-area: ww;
   display: flex;
   flex-direction: column;
   gap: 8px;
 }

 .header {
   font-family: 'Helvetica';
   font-style: normal;
   font-weight: 700;
   font-size: 28px;
   line-height: 36px;
   color: var(--color-to-basket);
   gap: 25px;
 }

 .column {
   position: relative;
 }

 .select {
   appearance: none;
 }

 .space {
   font-family: 'Helvetica';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   padding-left: 5px;
   padding-right: 5px;
 }

 .labelWrapper {
   display: flex;
   font-family: 'Helvetica';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   color: var(--color-to-basket);
 }

 .check {
   appearance: none;
 }



 .padding {
   padding: 8px 16px 8px 16px;
   font-family: 'Helvetica';
   font-weight: 700;
   font-size: 16px;
   line-height: 24px;
 }

 .rrrr {
   margin-left: auto;
 }

 .columnFooter {
   display: flex;
   flex-direction: column;
 }