 /*@media screen and (orientation: portrait) {

   .footer {
     grid-area: ff;
     margin-right: 1em;
     flex: 0 0 150px;
     height: 80px;
     width: 100vw;
     position: fixed;
     bottom: 0;
     left: 0;
     padding: 16px;
     display: flex;
     gap: 32px;
     background: var(--bg-grey);
   }
 }

 @media screen and (orientation: landscape) {


   .footer {
     grid-area: kk;
     margin-right: 1em;
     flex: 0 0 150px;
     height: 161px;
     position: fixed;
     top: 123px;
     right: 90px;
     padding: 16px;
     display: flex;
     flex-direction: column;
     gap: 32px;
     background: var(--bg-grey);
     border-radius: 24px;
   }

 }

 @media screen and (orientation: landscape) and (min-width: 1025px) {
  
 }

 @media screen and (orientation: landscape) and (min-width: 1356px) {
   
 }*/
