/*@import url('https://fonts.googleapis.com/css?family=Passion One');*/

:root {
  --bg-color-to-basket: #F86600;
  --color-to-basket: #FFFFFF;
  --bg-color-in-basket: #F8660026;
  --color-in-basket: #F5DED9;
  --bg-grey: #232526;
  --bg-light-grey: #FFFFFF80;
  --danger: #E3E5E5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*user-select: none;*/
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  background-color: #000000;
  color: white;
  display: block;
  overflow-y: auto;
  /*overflow-x: hidden;/*stop scrollIntoView Horizontal after pagination*/
}

button {
  all: unset;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.moon {
  /*color: inherit; /* Наследует цвет текста от родителя */
  background-color: black;
  color: white;
  /*text-decoration-line: none;*/
  /*text-decoration-line: underline;
   /*border-bottom: 1px solid white;*/
  /*cursor: url('./icons8-pointer_1.svg'), auto;*/
  /*cursor: pointer;*/
}

.km {
  background-color: black;
  color: white;
  text-decoration: underline;
  font-weight: bold;
  /*text-decoration-line:line-through;*/
  /*pointer-events: none;*/
  /*cursor: pointer;*/
}

.space {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  padding-left: 5px;
  padding-right: 5px;
}

@media screen and (orientation: landscape) {

  .grid {
    /*position: relative;*/
    display: grid;
    grid-template-columns: minmax(48px, auto) minmax(279px, auto) minmax(152px, auto);/*10*/
    /*grid-template-rows: auto 1fr;*/
    /*height: 100vh;*/
    /*grid-template-areas:
      "h q q q q q q q q q q q"
      "s t t t t t t t t t t t"
      "m g g g g g g g g g g u"
      "f f f f f f f f f f f f";*/
    grid-template-areas:
      "h w v"
      "h ww v"
      "h t v"
      "m g u"
      "f f f";
    column-gap: 24px;
  }
}

@media screen and (orientation: portrait) {
  .grid {
    position: relative;
    display: grid;
    grid-template-columns: minmax(48px,auto) minmax(279px, auto) repeat(1, 1fr);/*10*/
    /*grid-template-rows: 100px 1fr;*/
    /*height: 100vh;*/
    /*grid-template-areas:
      "h q q q q q q q q q q q"
      "s t t t t t t t t t t t"
      "m g g g g g g g g g g u"
      "f f f f f f f f f f f f";*/
    grid-template-areas:
      "h w v"
      "h ww v"
      "h t t"
      "m g u"
      "f f f";
    column-gap: 24px;
    /*row-gap: 17px;*/
  }
}

/*button, a {
  cursor: url('./icons8-pointer_1.svg'), auto;
}*/