  .li {
    height: 100px;
    display: flex;
    flex-direction: column;
  }

  .command {
    display: flex;
    flex-direction: column;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-to-basket);
  }

  .header {
    /*position: relative;*/
    /*grid-area: h;*/
    /*flex: 0 0 123px;*/
    /*height: 123px;*/
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /*padding: 16px;*/
    gap: 8px;
    color: var(--bg-color-to-basket);
  }


  @media screen and (orientation: portrait) {

    /*portrait*/
    .hidden {
      /*width: 100%;*/
      /*overflow: hidden;*/
      grid-area: h;
      /*height: 100vh;*/
      /*align-self: center;*/
      /*max-width: 48px;
      overflow: hidden;*/
      position: sticky;
      top: 123px;
      /*scroll-margin-left: 48px;*/
    }

    .hidden>img {
      width: 100%;
      object-fit:cover;
      object-position: right 0px;
      /*display: block;*/
      /* Убирает лишний отступ под SVG */
    }
    .footer {
      grid-area: f;
      margin-right: 1em;
      flex: 0 0 150px;
      height: 80px;
      width: 100vw;
      /*top: 76px;*/
      position: fixed;
      /*sticky;*/
      bottom: 0;
      left: 0;
      padding: 16px;
      display: grid;
      /*flex-direction: column;*/
      gap: 32px;
      background: var(--bg-grey);
      /*border-radius: 24px;*/
    }
  }

  @media screen and (orientation: landscape) {
    .hidden {
      overflow: hidden;
      grid-area: h;
      height: 100vh;
     /* align-self: center;*/
      position: sticky;
      top: 0px;
      /*scroll-margin-left: 48px;*/
    }

    .hidden>img {
      width: 100%;
      object-fit: cover;
      object-position: right 0px;
      /*display: block;*/

    }

    .footer {

      grid-area: kk;
      margin-right: 1em;
      flex: 0 0 150px;
      height: 161px;
      /*top: 76px;*/
      position: fixed;
      /*sticky;*/
      top: 123px;
      right: 90px;
      padding: 16px;
      display: grid;
      /*flex-direction: column;*/
      gap: 32px;
      background: var(--bg-grey);
      border-radius: 24px;
    }
  }
