 @media screen and (orientation: portrait) {
   .h6 {
     /*column-count: 1;*/
     padding-top: 8px;
     width: 150px;
   }

   .footer {
     grid-area: f;
     margin-right: 1em;
     /*flex: 0 0 150px;*/
     height: 80px;
     width: 100vw;
     /*top: 76px;*/
     position: fixed;
     /*sticky;*/
     bottom: 0;
     left: 0;
     padding: 16px;
     display: flex;
     justify-content: space-between; 
     /*flex-direction: column;*/
     gap: 32px;
     background: var(--bg-grey);
     /*border-radius: 24px;*/
   }
 }

 @media screen and (orientation: landscape) {
   .footer {
     grid-area: v;
     margin-right: 1em;
     /*flex: 0 0 150px;*/
     height: 161px;
     width: 150px;
     /*top: 76px;*/
     /*position: fixed;*/
     /*sticky;*/
     top: 123px;
     right: 90px;
     padding: 16px;
     display: flex;
     flex-direction: column;
     gap: 32px;
     background: var(--bg-grey);
     border-radius: 24px;
   }

   .h6 {
     /*column-count: 1;*/
     padding-top: 8px;
     width: 200px;
   }
 }

 /*
 @media screen and (orientation: landscape) and (min-width: 1025px) {
   .wrapLayout {
     grid-area: m;
     max-width: 100%;
     display: grid;
     grid-template-columns: minmax(304px, 1fr) 402px 1fr;
     grid-template-rows: 9px 1fr;
     column-gap: 58px;
   }
 }

 @media screen and (orientation: landscape) and (min-width: 1356px) {
   .wrapLayout {
     grid-area: m;
     max-width: 100%;
     display: grid;
     grid-template-columns: minmax(400px, 1fr) 402px 1fr;
     grid-template-rows: 9px 1fr;
     column-gap: 128px;
   }
 }*/


 .column {
   grid-area: g;
   display: flex;
   flex-direction: column;
   gap: 8px;
 }

 .header {
   font-family: 'Helvetica';
   font-style: normal;
   font-weight: 700;
   font-size: 28px;
   line-height: 36px;
   color: var(--color-to-basket);
   gap: 25px;
 }

 .select {
   appearance: none;
 }

 .space {
   font-family: 'Helvetica';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   padding-left: 5px;
   padding-right: 5px;
 }

 .labelWrapper {
   display: flex;
   font-family: 'Helvetica';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   color: var(--color-to-basket);
 }

 .check {
   appearance: none;
 }

 .moon {
   color: inherit;
   /*text-decoration-line: none;*/
   text-decoration-line: underline;
   /*border-bottom: 1px solid white;*/
   /*cursor: url('./icons8-pointer_1.svg'), auto;*/
 }

 .km {
   color: inherit;
   text-decoration: none;
   font-weight: bold;
   pointer-events: none;
 }

 .h3 {
   font-family: 'Helvetica';
   font-style: normal;
   font-weight: 700;
   font-size: 18px;
   line-height: 24px;
   color: var(--color-to-basket);
   padding-left: 1px;
 }

 .aster {
   grid-column: 2/3;
   grid-row: 2/3;
 }

 .padding {
   padding: 8px 16px 8px 16px;
   font-family: 'Helvetica';
   font-weight: 700;
   font-size: 16px;
   line-height: 24px;
 }

 .rrrr {
   /*margin-left: auto;*/
   margin-right: 0px;
 }

 .button {
   height: 48px;
   width: 120px;
   border: none;
   background: var(--bg-color-to-basket);
   color: var(--color-to-basket);
   text-decoration: none;
   border-radius: 24px;
   display: flex;
   align-items: center;
 }

 .columnFooter {
   display: flex;
   flex-direction: column;
 }
 .padding_count{
  padding-right: 8px;
 }